HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# Database (sqlite for dev, postgres/mysql for production)
DATABASE_CLIENT=sqlite
DATABASE_URL=
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
DATABASE_FILENAME=.tmp/data.db
DATABASE_SSL=false
DATABASE_SCHEMA=public
DATABASE_POOL_MIN=2
DATABASE_POOL_MAX=10
DATABASE_CONNECTION_TIMEOUT=60000

# Admin flags
FLAG_NPS=true
FLAG_PROMOTE_EE=true

REMOTE_HOST=alejo9420@89.127.233.17
REMOTE_DEPLOY_PATH=/var/www/devbog-blog-backend

# File uploads
UPLOAD_PATH=/var/www/devbog-blog-backend/uploads
